[mgr]

ratio = [0, 3, 5]
sort_by = "natural"
show_hidden = false
mouse_events = ["click", "scroll"]
show_symlink = false
linemode = "size"
wrap = "yes"
# sort_sensitive = false
# sort_reverse 	 = false
# sort_dir_first = true
# sort_translit  = false
# linemode       = "none"
# scrolloff      = 5
# title_format   = "Yazi: {cwd}"
# [sort]
# group_dirs = true    # Group directories together
# dir_action = "first" # Show directories first

[opener]

edit = [{ run = '$EDITOR "$@"', block = true }]

[open]

rules = [
  { mime = "text/*", use = "edit" },
  { url = "*.json", use = "edit" },
  { url = "*.xml", use = "edit" },
  { url = "Config", use = "edit" },
  { url = "*.conf", use = "edit" },
  { url = "*.py", use = "edit" },
  { mime = "application/json", use = "edit" },
  # { url = "*.xml", use = "edit" },
  # 	{ url = "*.html", use = [ "open", "edit" ] },
]

[preview]

wrap = "yes"
tab_size = 2
max_width = 1500
max_height = 1500
# image_delay = 30
# image_filter = "triangle"
# image_quality = 75
# sixel_fraction = 15
# ueberzug_scale = 1
# ueberzug_offset = [0, 0, 0, 0]

[tasks]

image_alloc = 0
image_bound = [0, 0]

[plugin]

prepend_fetchers = [
  { id = "git", group = "file", url = "*", run = "git" },
  { id = "git", group = "directory", url = "*/", run = "git" },
  { id = "mime", group = "file", url = "local://*", run = "mime-ext.local", prio = "high" },
  { id = "mime", group = "file", url = "remote://*", run = "mime-ext.remote", prio = "high" },
{{- if eq .chezmoi.os "darwin" }}
  { id = "mactag", group = "file", url = "*", run = "mactag" },
  { id = "mactag", group = "directory", url = "*/", run = "mactag" },
{{- end }}
]

prepend_previewers = [
  # { url = "*.md", run = "code" },
  { url = "*.xml", run = "code" },
  { url = "*.json", run = "code" },
  { url = "Config", run = "code" },
  { url = "*.bin", run = "hexyl" },
  { url = "*.hex", run = "hexyl" },
  { url = "*.md", run = "code" },
  # { url = "*.lua", run = "code" },
  # { url = "*.csv", run = "rich" },
  # { url = "*.md", run = "mcat" },
  # { url = "*.rst", run = "rich-preview"}, # for restructured text (.rst) files
  # { url = "*.ipynb", run = "rich-preview"}, # for jupyter notebooks (.ipynb)
  # { url = "*.json", run = "rich-preview"}, # for json (.json) files
  #    { url = "*.lang_type", run = "rich-preview"} # for particular language files eg. .py, .go., .lua, etc.
]

[log]
enabled = false
